<%- include('../include/header.ejs') %> 

<div class="sign">
    <div class="title">
        <h1>Cadastrar</h1>
    </div>
    <form action="/signUp" method="post">
        <div class="input_wrapper">
            <fieldset>
                <legend>Nome</legend>
                <input
                 type="text"
                 name="name"
                 required
                />
            </fieldset>
        </div>
        <div class="input_wrapper">
            <fieldset>
                <legend>Sobrenome</legend>
                <input
                 type="text"
                 name="lastName"
                 required
                />
            </fieldset>
        </div>
        <div class="input_wrapper">
            <fieldset>
                <legend>Email</legend>
                <input
                 type="email"
                 name="email"
                 required
                />
            </fieldset>
        </div>
        <div class="input_wrapper">
            <fieldset>
                <legend>Senha</legend>
                <input
                 type="password"
                 name="password"
                 required
                />
            </fieldset>
        </div>
        <div class="input_wrapper">
            <fieldset>
                <input type="submit" value="Cadastrar">
            </fieldset>
            
        </div>
    </form>
</div>